/* =================================
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.6;
  background-color: #f2f2f2;
  text-align: center;
}

p {
  font-size: 0.95em;
  margin-bottom: 1.8em;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.wrapper {
  padding: 0 1em;
}

.main-content {
  background-color: #fff;
  color: #4a4a4a;
  padding-top: 20px;
}
.name {
  font-size: 1.5626em;
}

.portfolio-header,
.main-nav a,
.contact-title {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
}

.name a,
.main-nav a,
.contact-title,
.nav-top a {
  color: #4a4a4a;
}

.main-nav a {
  display: block;
  background-color: #fff;
  padding: 15px 0;
  margin-bottom: 10px;
}

.main-nav {
  margin: 30px 0 40px;
}

.profile-image {
  width: 70%;
}

.description,
.contact-description,
.phone,
.email {
  color: #7f7f7f;
}

.intro,
.portfolio,
.contact,
.main-footer {
  padding: 30px 0;
}

.description,
.portfolio-description,
.contact-description {
  margin: 0 25px;
}

.phone,
.email {
  margin-bottom: 0px;
}

.main-footer {
  padding: 5px 0;
  border-top: 0.5px solid #7f7f7f;
}

.footer-name,
.nav-top {
  display: inline-block;
  font-size: 1em;
}

.nav-top {
  float: right;
}

.nav-top a {
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
}

.footer-name {
  float: left;
}

.footer-nav {
  display: none;
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 768px) {
  .main-nav li,
  .main-nav a {
    display: inline;
  }

  .main-nav a {
    background-color: #f2f2f2;
    margin: 0 20px;
  }

  .profile-image {
    width: 300px;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-left: 40px;
    float: right;
  }

  .portfolio-image {
    width: 75%;
  }

  .header-container,
  .intro {
    max-width: 80%;
    margin: 0 auto;
  }

  .description {
    padding: 30px 0;
  }

  .nav-top {
    display: none;
  }

  .footer-name,
  .footer-nav {
    display: inline-block;
  }

  .footer-nav {
    float: right;
    font-size: 0.8em;
  }

  .footer-name {
    float: left;
    font-size: 1em;
  }

  .footer-nav li,
  .footer-nav a {
    display: inline;
  }

  .footer-nav a {
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    color: #4a4a4a;
    margin: 0 10px;
  }

  .footer-nav {
    margin-top: 15px;
  }

  .col {
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    vertical-align: top;
    padding-left: 1em;
    padding-right: 1em;
  }

  /* Media Queries */
  .clearfix::after {
    content: " ";
    display: table;
    clear: both;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    margin-top: 70px;
  }

  .name,
  .main-nav li,
  .main-nav a {
    display: inline;
  }

  .name {
    float: left;
  }

  .main-nav {
    float: right;
  }

  .main-header {
    position: fixed;
    background: #f2f2f2;
    box-shadow: 0 0.3px 4px rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 70px;
    top: 0;
    z-index: 9999;
  }

  .profile-image {
    width: 50%;
  }

  .portfolio-image {
    width: 90%;
  }

  .description {
    padding: 50px 0 20px;
  }

  .col {
    display: inline-block;
    width: 33%;
    margin-right: -4px;
    vertical-align: top;
    padding-left: 1em;
    padding-right: 1em;
  }
}
